@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fredoka+One&family=PT+Serif:ital@0;1&family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@500&display=swap');
@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.logo{
	position: absolute;
	top: 50px;
	font-size: 30px;
	text-transform: capitalize;
	&__link{
		color: $text-black-900;
		font-weight: 700;
		padding: 15px 20px;
		font-size: 30px;
		letter-spacing: 5px;
		position: relative;
		span{
			font-family: 'Clicker Script', cursive;
			font-size: 40px;
		}
		&::before{
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			border-bottom: 5px solid var(--skin-color);
			border-left: 5px solid var(--skin-color);
			bottom: 0;
			left: 0;
		}
		&::after{
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			border-top: 5px solid var(--skin-color);
			border-right: 5px solid var(--skin-color);
			top: 0;
			right: 0;
		}
	}
}

.nav-toggler{
	height: 40px;
	width: 45px;
	border: 1px solid $bg-black-50;
	cursor: pointer;
	position: fixed;
	left: 300px;
	top: 20px;
	border-radius: 5px;
	background: $bg-black-100;
	display: none;
	align-items: center;
	justify-content: center;

	span{
		height: 2px;
		width: 18px;
		background: var(--skin-color);
		display: inline-block;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			height: 2px;
			width: 18px;
			background: var(--skin-color);
			top: -6px;
			left: 0;
		}
		&::after{
			content: '';
			position: absolute;
			height: 2px;
			width: 18px;
			background: var(--skin-color);
			top: 6px;
			left: 0;
		}
	}
}

.nav{
	margin-top: 50px;
	&__list-item{
		margin-bottom: 20px;
		display: block;
	}
	&__item-link{
		font-size: 16px;
		font-weight: 600;
		display: block;
		border-bottom: 1px solid $bg-black-50;
		color: $text-black-900;
		padding: 5px 15px;
		i{
			margin-right: 15px;
		}
	}
	&__item-link--active{
		color: var(--skin-color);
	}
}

.home{
	min-height: 100vh;
	display: flex;
	color: $text-black-900;
}
 
.home-info{
	flex: 0 0 60%;
	max-width: 60%;
	&__hi{
		font-size: 28px;
		margin: 15px 0;
		span{
			font-family: 'Clicker Script', cursive;
			font-size: 30px;
			font-weight: 700;
			color: var(--skin-color);
		}
	}
	&__my-profession{
		font-size: 30px;
		margin: 15px 0;
		span{
			color: var(--skin-color);
		}
	}
	&__descr{
		margin-bottom: 70px;
		font-size: 20px;
		color: $text-black-700;
	}
	&__btn{
		@extend %btn;
	}
}

.home-img{
	flex: 0 0 40%;
	max-width: 40%;
	text-align: center;
	position: relative;
	img{
		height: 400px;
		width: 280px;
		object-fit: cover;
		border-radius: 5px;
	}
	&::after{
		content: '';
		position: absolute;
		height: 80px;
		width: 80px;
		right: 20px;
		bottom: -40px;
		border-bottom: 10px solid var(--skin-color);
		border-right: 10px solid var(--skin-color);
	}
	&::before{
		content: '';
		position: absolute;
		height: 80px;
		width: 80px;
		left: 20px;
		top: -40px;
		border-top: 10px solid var(--skin-color);
		border-left: 10px solid var(--skin-color);
	}
}

.about-content{
	flex: 0 0 100%;
	max-width: 100%;

}
.about-text{
	flex: 0 0 100%;
	max-width: 100%;
	&__title{
		font-size: 24px;
		margin-bottom: 15px;
		font-weight: 700;
		color: $text-black-900;
		span{
			color: var(--skin-color);
		}
	}
	&__text{
		font-size: 16px;
		line-height: 25px;
		color: $text-black-700;
	}
}
.personal-info{
	flex: 0 0 60%;
	max-width: 60%;
	margin-top: 40px;
	&__item{
		flex: 0 0 50%;
		max-width: 50%;
	}
	&__text{
		font-weight: 600;
		padding: 10px 0;
		font-size: 16px;
		color: $text-black-900;
		border-bottom: 1px solid $bg-black-50;
		span{
			font-weight: 400;
			color: $text-black-700;
			margin-left: 4px;
		}
	}

}
.buttons{
	margin-top: 30px;
	&__btn{
		@extend %btn;
		margin-right: 15px;
		margin-top: 10px;
	}
}
.skills{
	flex: 0 0 40%;
	max-width: 40%;
	margin-top: 40px;
	&__item{
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 25px;
	}
	&__title{
		line-height: 40px;
		font-weight: 600;
		font-size: 16px;
		color: $text-black-900;
		text-transform: capitalize;
	}
	&__progress{
		background-color: $bg-black-50;
		height: 7px;
		border-radius: 4px;
		width: 100%;
		position: relative;
	}
	&__progress-in{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		border-radius: 4px;
		background-color: var(--skin-color);
	}
	&__percent{
		position: absolute;
		right: 0;
		top: -40px;
		font-weight: 400;
		line-height: 40px;
	}
}
.educ-exper__title{
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 700;
	color: $text-black-900;
}
.education,
.experience{
	margin-top: 30px;
	flex: 0 0 50%;
	max-width: 50%;
}
.education{
	&__timeline-box{
		flex: 0 0 100%;
		max-width: 100%;
	}
	&__timeline{
		background-color: $bg-black-100;
		padding: 30px 15px;
		border: 1px solid $bg-black-50;
		border-radius: 10px;
		width: 100%;
		position: relative;
	}
}
.timeline{
	&__item{
		position: relative;
		padding-left: 37px;
		padding-bottom: 50px;
		&:last-child{
			padding-bottom: 0;
		}
		&::before{
			content: '';
			width: 1px;
			position: absolute;
			height: 100%;
			left: 7px;
			top: 0;
			background-color: var(--skin-color);
		}
	}
	&__circle-dot{
		position: absolute;
		left: 0;
		top: 0;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		background-color: var(--skin-color);
	}
	&__date{
		font-weight: 400;
		font-size: 14px;
		margin-bottom: 12px;
		color: $text-black-700;
	}
	&__title{
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 15px;
		text-transform: capitalize;
	}
	&__text{
		line-height: 25px;
		font-size: 16px;
		text-align: justify;
		color: $text-black-700;
	}
}
.services{
	.container{
		margin-bottom: 40px;
	}
	&__item{
		margin-bottom: 30px;
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	&__item-inner{
		background-color: $bg-black-100;
		border: 1px solid $bg-black-50;	
		border-radius: 10px;
		padding: 30px 15px;
		text-align: center;
		transition: all .3s ease;
		&:hover{
			box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
			.services__icon{
				background-color: var(--skin-color);
				.fa{
					font-size: 25px;
					color: #fff;
				}
			}
		}
	}
	&__icon{
		height: 60px;
		width: 60px;
		border-radius: 50%;
		display: block;
		margin: 0 auto 30px;
		text-align: center;
		transition: all .3s ease;
		.fa{
			font-size: 40px;
			line-height: 60px;
			color: var(--skin-color);
		}
	}
	&__item-title{
		font-size: 18px;
		margin-bottom: 15px;
		color: $text-black-900;
		font-weight: 700;
		text-transform: capitalize;
	}
	&__item-text{
		font-size: 16px;
		color: $text-black-700;
		line-height: 25px;
	}
}

.portfolio{
	.container{
		padding-bottom: 40px;
	}
	&__heading{
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 40px;
	} 
	&__title{
		color: $text-black-900;
		font-weight: 500;
	}
	&__item{
		flex: 0 0 33.33%;
		max-width: 33.333%;
		margin-bottom: 30px;
	}
	&__item-inner{
		border: 6px solid $bg-black-100;
		overflow: hidden;
		cursor: pointer;
		height: 100%;
		&:hover{
			.portfolio__img{
				transform: scale(1.05);

			}
		}
	}
	&__img{
		transition: all 0.3s ease;
		width: 100%;
		height: 100%;
		display: block;
		img{
		object-fit: cover;
		height: 100%;
		}
	}
}

@import 'media';

